body {
  font-family: helvetica;
  background-color: #22364E;
  color: white;
  padding: 20px 25%;
}

.nbr {
  font-family: Times New Roman, serif;
}
h1 {
  font-weight: normal;
  text-shadow: 0 1px 2px #10233d;
  background-color: #2B3F58;
  text-align: center;
  position: relative;
  box-shadow: 0px 1px 1px #10233d;
}
h1:after,
h1:before
{
	content: ' ';
	position: absolute;
	width: 0px;
	height: 0px;
  border-width: 20px 10px;
  border-style: solid;
}
h1:before {
  left: -1px;
  top:0;
  border-color: transparent transparent transparent #22364E;
}
h1:after {
  right: -1px;
	top: 0;
	border-color: transparent #22364E transparent transparent;
}
h1 .text {
  position: relative;
  top: -4px;
}
h1 .nbr {
  margin-right: 20px;
  color: #DC4D4C;
  padding-left:6px;
  font-weight: bold;
  text-shadow: none;
  position: relative;
  z-index: 10;
  font-size: 1.5em;
}
h1 .nbr:before {
  font-family: FontAwesome;
  content: '\f0a3';
  position: absolute;
  font-size:2em;
  top: -15px;
  left: -8px;
  color: #D6BA8A;
  z-index: -1;
}
h3 {
  text-align: center;
  font-weight: normal;
  text-shadow: 0 1px 2px #10233d;
  color:#628FB2;
  padding-left: 70px;
}
h4 {
  color: white;
}
.authors {
  text-align: center;
  text-shadow: 0 1px 2px #10233d;
  color:#628FB2;
  font-size: 0.55em;
}
.feature {
  display: block;
  margin-bottom: 5px;
  position: relative;
  height: 80px;
}
.feature .nbr {
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  top: -10px;
  left: -20px;
  width: 80px;
  height: 70px;
  text-align: center;
  background-color: red;
  line-height: 70px
}
.feature .nbr:after {
  position: absolute;
  content: ' ';
  left: 20px;
  top: 100%;
  border-width: 10px 30px;
  border-style: solid;
  border-color:  #666 transparent transparent #666 ;
}
.description {
  padding:5px 10px 5px 100px;
  font-size: 0.80em;
  line-height: 1.1em;
}
.feature h4 {
  margin: 0;
  padding: 5px 10px 0px 100px;
}

/*----- features backgrounds colors -----*/
.featuresList .feature:nth-child(1) {
  background: #EC5451;
}
.featuresList .feature:nth-child(2) {
  background: #A2BA64;
}
.featuresList .feature:nth-child(3) {
  background: #18B99A;
}
.featuresList .feature:nth-child(4) {
  background: #F48567;
}
.featuresList .feature:nth-child(5) {
  background: #349CD0;
}
.featuresList .feature:nth-child(6) {
  background: #F14F80;
}
.featuresList .feature:nth-child(7) {
  background: #E2B655;
}
.featuresList .feature:nth-child(8) {
  background: #8D8FBF;
}
.featuresList .feature:nth-child(9) {
  background: #ACB737;
}
.featuresList .feature:nth-child(10) {
  background: #5881AF;
}

/* ----- features numbers backgrounds -----*/
.featuresList .feature:nth-child(1) .nbr {
  background: #DD4D4D;
}
.featuresList .feature:nth-child(2) .nbr {
  background: #98AB59;
}
.featuresList .feature:nth-child(3) .nbr {
  background: #1FAB90;
}
.featuresList .feature:nth-child(4) .nbr {
  background: #E8765C;
}
.featuresList .feature:nth-child(5) .nbr {
  background: #3497C1;
}
.featuresList .feature:nth-child(6) .nbr {
  background: #E44379;
}
.featuresList .feature:nth-child(7) .nbr {
  background: #DFAE47;
}
.featuresList .feature:nth-child(8) .nbr {
  background: #8689B2;
}
.featuresList .feature:nth-child(9) .nbr {
  background: #A9AE36;
}
.featuresList .feature:nth-child(10) .nbr {
  background: #507AA4;
}

/* ----- features numbers backgrounds -----*/
.featuresList .feature:nth-child(1) .nbr:after {
  border-color:  #CF2C2F transparent transparent #CF2C2F ;
}
.featuresList .feature:nth-child(2) .nbr:after {
  border-color:  #8AA147 transparent transparent #8AA147 ;
}
.featuresList .feature:nth-child(3) .nbr:after {
  border-color:  #1C9B80 transparent transparent #1C9B80 ;
}
.featuresList .feature:nth-child(4) .nbr:after {
  border-color:  #D65D4A transparent transparent #D65D4A ;
}
.featuresList .feature:nth-child(5) .nbr:after {
  border-color:  #2188B3 transparent transparent #2188B3 ;
}
.featuresList .feature:nth-child(6) .nbr:after {
  border-color:  #F93B73 transparent transparent #F93B73 ;
}
.featuresList .feature:nth-child(7) .nbr:after {
  border-color:  #C69A37 transparent transparent #C69A37 ;
}
.featuresList .feature:nth-child(8) .nbr:after {
  border-color:  #7E81AA transparent transparent #7E81AA ;
}
.featuresList .feature:nth-child(9) .nbr:after {
  border-color:  #99A038 transparent transparent #99A038 ;
}
.featuresList .feature:nth-child(10) .nbr:after {
  border-color:  #3E6284 transparent transparent #3E6284 ;
}